.hex:hover polygon {
  filter: brightness(50%);
}

.hex {
  stroke: #000;
  stroke-width: .5;
}

.hex-std {
  fill: #adcbe3;
}

.hex-alt {
  fill: #e7eff6;
}

.hex-alt-2 {
  fill: #63ace5;
}

.hex text{
  font-size: 2px;
  fill: #000;
}