.hex:hover polygon {
  filter: brightness(50%);
}

.grid {
  background-image: url("/src/assets/wood-bg-light.jpg");
}

.hex {
  stroke: #000;
  stroke-width: .5;
}

.hex-std {
  fill: var(--hex-std-background);
}

.hex-alt {
  fill: var(--hex-alt-background);
}

.hex-alt-2 {
  fill: var(--hex-alt-2-background);
}

.hex text{
  font-size: 2px;
  fill: #000;
}