.hex:hover polygon {
  filter: brightness(50%);
}

.hex {
  fill: #d2b48c;
}

.hex-alt {
  fill: #9b856a;
}

.hex-alt-2 {
  fill: #675848;
}

.hex text, .hex-alt text, .hex-alt-2 text{
  font-size: 2px;
  fill: #000;
}